#finder-button{
  border : 1px solid white;
  background-color: white;
  
}
#finder-input{


}

#go-button{
  border: 1px solid white;
  background-color: lightslategray;
  color:  white;
}

.head-line{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  
}
.head-line svg{
  width: 430px;
}

.menus{
  margin-top:1em;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  border-top: 1px solid grey;
  border-bottom: 4px double #000;

}

.menus *:hover{
  background-color: grey;
}

.menus button {
  height : 40px;
}

.menus button:active {
  background-color: darkgray;

}

#under-line{
  height: 4px;
  background-color: tomato;
  position: absolute;
  width:52px ; 
  left:260px;
  top:160px;
  padding: 0px;
  transition : 0.5s
}


.img{
  width: 250px;
  height: 140px;
}

.news{
  border-bottom: 2px solid grey;
  margin-top: 10px;
}

#news-content{
  margin-top: 20px;
}

.summary{
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.pages{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.pages *{
  color:grey
}
.pages .page-link {
  color: dodgerblue
}

@media (max-width:992px){
  
  .news{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

}